/* CustomCursor.css */
.cursor-dot,
.cursor-outline {
  position: absolute;
  border-radius: 50%;
  pointer-events: none; /* Prevent cursor from interacting with elements */
  transform: translate(-50%, -50%);
  will-change: transform;
  z-index: 10000; /* Ensure cursor is on top */
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background: black; /* Inner cursor color */
  z-index: 10001; /* Make sure dot is above outline */
}

.cursor-outline {
  width: 50px;
  height: 50px;
  border: 1px solid black; /* Outer cursor border color */
  z-index: 10000;
}
  
  .cursor-dot,
  .cursor-outline{
    position:fixed;
    top:0;
    left:0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index:20;
    pointer-events: none;
  }
  