@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  font-family: Tahoma, sans-serif;
  font-stretch: narrower;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, sans-serif;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  will-change: transform;
  z-index: 9999; /* Ensure it's on top */
}


.cursor-dot {
  width: 8px;
  height: 8px;
  background: black;
}

.cursor-outline {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}


/* navbar */
.scroll-container {
  height: 30px;
  overflow: hidden;
  position: relative;
}
.scroll {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  transition: opacity 0.5s ease;
}
@keyframes scroll-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

/* Page Animation */
.page-cover {
  background-color: #333333;
  color: #ffffff;
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-text {
  text-align: center;
  margin-top: 40vh;
}
/* .page-container {
  position: relative;
  overflow: auto; 
  max-height: 100vh; 
} */


/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 5px rgb(156, 156, 156);
  opacity: 0%;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


@keyframes expand-fade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0; /* Fade out */
  }
}

.blinking-circle {
  animation: expand-fade 3s ease-in-out infinite;
}


/* loading animation */
@keyframes move {
  0% {
      top: -100%;
  }
  100% {
      top: 100%;
  }
}

.animate-move {
  animation: move 1.5s linear infinite;
}






@keyframes underline-loading {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}


/* Work */
@keyframes up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the up and down distance */
  }
}

.animate-up-down {
  animation: up-down 2s ease-in-out infinite; /* Animation duration and easing */
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh; 
  overflow-y: auto;
}



/* Underline Animation */
/* .animated-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 3px; 
  overflow: hidden;
  text-decoration: none;
}

.animated-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 2px; 
  background: currentColor; 
  transition: width .3s ease; 
  position: absolute;
  bottom: 0;
  left: 0;
}

.animated-underline:hover::after {
  width: 100%; 
} */


.animated-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  overflow: hidden;
  text-decoration: none;
}

.animated-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width .3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.animated-underline:hover::after {
  width: 100%;
}

