@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-bg {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.page-cover {
  background-color: #000; 
  color: #fff; 
  display: none; 
  justify-content: center;
  align-items: center;
}

.cover-text {
  font-size: 3rem;
  font-weight: bold;
}

.page-container {
  position: relative;
  overflow: hidden;
}


@keyframes scroll-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.scroll-container {
  height: 30px; 
  overflow: hidden; 
  position: relative;
}

.scroll {
  display: inline-block; 
  position: absolute; 
  white-space: nowrap; 
  transition: opacity 0.5s ease; 
}
